@font-face {
    font-family: "ord";
    src: url(../styles/Fonts/Ordibehesht/Ordibehesht.TTF);
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header h2 {
    font-family: "ord" ;
    font-size: 40px;
    margin: 0;
    color: #3a3a3a;
    padding: 5px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    
}
.header span {
    font-size: 12px;
    font-weight: bold;
    color: #3a3a3a;
}

@media (max-width : 440px) {
    .header h2 {
        font-size: 30px;
    }
    .header span {
        font-size: 10px;
    }
}