@font-face {
    font-family: "ord";
    src: url(../styles/Fonts/Ordibehesht/Ordibehesht.TTF);
}

.container {
    font-family: "ord";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}
.container main {
    width: 280px;
    background:linear-gradient(#4b93bb , #5fb2df);
    box-shadow:0 2px 5px 1px rgba(64,60,67,.16);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container main h4 {
    font-size: 20px;
    margin: 0;
    direction: rtl;
    color: #303030;
}
.container main p {
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 10px;
    color: #343434;
}
.container h3 {
    margin: 0;
    padding: 10px;
    color: #ffffff;

}

.container a {
    color: #5fb2df;
    background-color: #fff;

    padding: 2px;
    text-decoration: none;
    border-radius: 5px;
    width: 60px;
    text-align: center;
    box-shadow:0 2px 5px 1px rgba(64,60,67,.16);
}
.container a:hover {
    background-color: #f0faff;
}

@media (min-width : 1300px) {
    .container main {
        width: 500px;
    }
    .container h3 {
        font-size: 30px;
    }
    .container a {
        width: 90px;
        font-size: 20px;
        margin-top:18px ;
    }

}