/* bac #ACC1DE #e6cfe4  #4b93bb  */
@font-face {
    font-family: "ord";
    src: url(../styles/Fonts/Ordibehesht/Ordibehesht.TTF);
}

.container {
    font-family: 'ord';
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;

}
.container a {
    color: #fff;
    background:linear-gradient(#4b93bb , #5fb2df);
    padding: 2px;
    text-decoration: none;
    border-radius: 5px;
    width: 60px;
    text-align: center;
}
.container a:hover {
    background:linear-gradient(#4484a7 , #56a1ca);
}

.quizHead {
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(#4b93bb , #5fb2df);
    border-radius: 10px;
    box-shadow:0 2px 5px 1px rgba(64, 60, 67, 0.116);
    
}
.quizHead h3 {
    margin: 0;
    font-size: 20px;
    padding: 20px;
    color: #fff;
}

.answersBox {
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    padding: 10px;
    
}
.answersBox p {
    background:linear-gradient(#ffffff , #d8f2ff);
    border-radius: 10px;
    font-size: 17px;
    margin: 10px;
    text-align: center;
    color: #3a3a3a;
    cursor: pointer;
    box-shadow:0 2px 5px 1px rgba(64, 60, 67, 0.096);
}
.answersBox p:active {
    background:linear-gradient(#dfdfdf , #c1d7e2);
}
.timer span {
    font-size: 30px;
}
.green {
    background:linear-gradient(#92fa56 , #7dbb59)!important; 
}
.red {
    background:linear-gradient(#fa5656 , #bb5959)!important; 
}
#endTime {
    background:linear-gradient(#bbb04b , #dfcc5f) !important;
}
@media (min-width : 1300px) {
    .quizHead {
        width: 500px;
    }
    .quizHead h3 {
        font-size: 30px;
    }
    .container {
        width: 500px;
    }
    .answersBox p {
        font-size: 20px;
    }
}